<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index4.css" />
    <title>Document</title>
    <style>
      .stylelist {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>introduction to css</h1>
    <h2>Type of ways to add css in your html</h2>
    <ul class="listone">
      <li class="list" id="internal">Dont know</li>
      <li class="list">Dont care</li>
      <li class="list cssTypes">Internal</li>
      <li class="list cssTypes">Extrenal</li>
      <ol>
        <li>1</li>
        <li>2</li>
      </ol>
    </ul>

    <ul class="listtwo">
      <li class="list cssTypes" id="internal">A</li>
      <li class="list cssTypes">B</li>
      <li class="list cssTypes">C</li>
      <li class="list">D</li>
      <li class="list">E</li>
    </ul>
    <h2>Cascading Effect</h2>
    <h3>Which color should be applied?</h3>
  </body>
</html>

<!-- //Inline style takes redernece order: inline, Internal, Extrenal //cascading
style sheet: if i am applying same styles with different precidence (styles) the
styles which comes letter on the that takes effect what do you mean by css
ruleset: its combination of css ruleset along with all of different styles which
apply to the element 
//css selector: main page link to html -->

<!-- name space give to the selected html element  -->
